In [2]:
import pandas as pd

představení tématu

sběr dat

**Zpracování dat**

In [34]:
df = pd.read_excel(fr'C:\Users\halik\OneDrive\Dokumenty\GitHub\SOCka\SOČ data\avg_day_temp.xlsx', skiprows=2)
df.rename(columns={'filter_den': filename[:-5]}, inplace=True)
df.rename(columns={'legend full': "location"}, inplace=True)
display(df)

# Create a list to store all the tables
tables = []

# Append the initial table to the list
tables.append(df)

# Loop through the remaining tables and append them to the list
for filename in table_filenames:
    table = pd.read_excel(filename, skiprows=2)
    table.rename(columns={'avg_day_temp': filename[:-5]}, inplace=True)
    tables.append(table)

# Merge all the tables into a single dataframe
m erged_df = pd.concat(tables, axis=1)

# Display the merged dataframe
display(merged_df)

#>> korelace a grafy vlastností a avg teploty, vlhkosti...
#namet v google dokumentu: https://docs.google.com/document/d/1-hWSGdUqz0OBOo5BhIRc6w_VmslaZa5UAgW7VCqsCvs/edit
#TODO korelace a grafy

                      date  avg_day_temp  location
0      2022-08-02 00:00:00           NaN       NaN
1      2022-08-02 00:00:00           NaN       NaN
2      2022-08-02 00:00:00           NaN       NaN
3      2022-08-02 00:00:00           NaN       NaN
4      2022-08-02 00:00:00           NaN       NaN
...                    ...           ...       ...
39435                45454           NaN       NaN
39436                45454           NaN       NaN
39437                45454           NaN       NaN
39438                45454           NaN       NaN
39439                45454           NaN       NaN

[39440 rows x 3 columns]

FileNotFoundError: [Errno 2] No such file or directory: 'avg_day_temp.xlsx'

In [14]:
display(df_all)

,date,avg_temp,sirka,uhel_ke_strese,smer,asfalt,dlazba_tmava,dlazba_svetla,beton,hlina,trava,auta,stromy,street_name
8,2022-08-10,29.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
9,2022-08-11,28.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
10,2022-08-12,29.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
11,2022-08-13,27.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
12,2022-08-14,29.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2634,2024-05-17,17.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
2635,2024-05-18,18.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
2636,2024-05-19,23.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
2637,2024-05-20,25.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská
2638,2024-05-21,23.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Žitomírská

analýza

modelování

příklad designu podle mých modelů

shrnutí